.carousel {
   padding: 50px 0 60 0;
   &__inner {
      position: relative;
      width: 288px;
      margin: 0 auto;
      h2 {
         margin: 0;
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         text-align: center;
         text-transform: uppercase;
         color: #2E3A59;
      }
   }
   &__descr {
      margin: 0 auto;
      padding-bottom: 63px;
      width: 176px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #2E3A59;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
   }
}
.slick-slide {
   img {
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 22.5px;
   }

}
.slick-prev {
   position: absolute;
   top: 100%;
   left: 30px;
   border: none;
   background-color: #fff;
   img {
      margin: 0 auto;
      width: 19px;
      height: 10.5px;
   }
}
.slick-next {
   position: absolute;
   top: 100%;
   left: 230px;
   border: none;
   background: none;
   img {
      margin: 0 auto;
      width: 19px;
      height: 10.5px;
   }
}
.slick-dots {
   margin: 0 auto;
   position: absolute;
   text-align: center;
   bottom: -14px;
   left: 65px;
   padding: 0;
   list-style: none;
   border-radius: 100%;
   .clearfix::after {
      content: "";
      display: table;
      clear: both;
   }
   button {
      border: none;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      font-size: 0;
      background-image: url(../icons/slider/dots.svg) center center / cover no-repeat;
   }
   li {
      float: left;
      margin: 0 10px;
   }
}
.slick-active {
   button {
      background: #A6ABBD;
   }
}



