.feedback {
   background-color: #fff;
   padding-bottom: 36px;
   &__divider {
      margin: 0 auto;
      // margin-top: 47px;
      width: 184px;
      height: 4px;
      background: #00C368;
   }
   h2 {
      margin: 0 auto;
      padding-top: 16px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #2E3A59;
   }
   &__inner {
      position: relative;
      margin-top: 91px;
      padding: 80px 16px 15px 16px;
      border: 1px solid transparent;
      border-radius: 32px;
      background: #fff;
      box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
      &:before {
         content: '';
         position: absolute;
         display: block;
         width: 40px;
         height: 26px;
         top: 20px;
         left: 16px;
         z-index: 10;
         background-image: url(../../icons/quotes_left.png);
      }
      &:after {
         content: '';
         position: absolute;
         display: block;
         width: 40px;
         height: 26px;
         top: 20px;
         right: 16px;
         background-image: url(../../icons/quotes_right.png);
      }
      img {
         position: absolute;
         top: -55px;
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2E3A59;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
   }
   &__author {
      padding-top: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E3A59;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
   }
   &__item {
      padding-top: 35px;
      &::after {
         content: '';
         clear: both;
         display: table;
      }
      img {
         width: 59px;
         margin-right: 15px;
         margin-left: 15px;
      }
   }
   &__wrap_right {
      width: 196px;
      float: right;
   }
   &__wrap_left {
      width: 196px;
      float: left;
   }
   .feedback__item_text {
      padding-bottom: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2E3A59;
   }
   .feedback__item_author {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E3A59;
   }
}