.header {
   background-color: #fff;
   padding-bottom: 60px;
   margin: 0 auto;
   &__wrapper {
      position: relative;
      min-height: 690px;
   }
   &__inner {
      text-align: center;
   }
   &__link {
      padding-top: 11px;
   }
   &__img {
      padding-top: 64px;
      padding-bottom: 38px;
      margin: 0 auto;
   }
}