.spoler {
   padding-top: 16px;
   &__item {
      padding: 14px 0 0 0;
   }
   &__title {
      position: relative;
      padding: 0 30px 0 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #2E3A59;
      cursor: pointer;
      &::after {
         content: '';
         position: absolute;
         background: url('../icons/spoler/Vector.png');
         width: 19px;
         height: 10.5px;
         right: 0;
         top: 0;
         transition: 0.5s all;
      }

      &.active::after {
         background: url('../icons/spoler/Vector_up.png');
      }



      // &::before, &::after {
      //    content: '';
      //    position: absolute;
      //    width: 11px;
      //    height: 2px;
      //    background: #A6ABBD;
      //    top: 8px;
      //    transition: 0.3s all;
      // }
      // &::before {
      //    transform: rotate(-40deg);
      //    right: 0;
      // }
      // &::after {
      //    transform: rotate(40deg);
      //    right: 7px;
      // }
      &:hover {
         color: #00C368;
      }

      // &.active::before {
      //    transform: rotate(40deg);
      // }
      // &.active::after {
      //    transform: rotate(-40deg);
      // }
      &.active {
         color: #00C368;
      }
   }
   &__text {
      display: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #2E3A59;
   }
   &__divider{
      width: 288px;
      height: 1px;
      left: 16px;
      top: 1171px;
      background: #E7EBF0;
   }
}